<a href="https://colab.research.google.com/github/juacastanori/SyS/blob/main/Python_DataType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cuaderno 6 - Ejercicios Python Estructuras de Datos
##Juan Jerónimo Castaño Rivera - 2024

##EJERCICIOS

1) Write a function that takes a list of numbers as input and returns the sum of all the odd numbers in the list. For example, if the input is [1, 2, 3, 4, 5, 6], the function should return 9 (which is the sum of 1, 3, and 5).

In [19]:
n=input("Ingrese N (# de numeros de la lista): ")
n=int(n)
L=[]
sum=0
for i in range(0,n):
  x=input(f"Ingrese el número {i+1}: ")
  L.append(int(x))
for i in range(len(L)):
  if L[i]%2==1:
    sum=sum+L[i]
print("La suma de los elementos impares de la lista es: ",sum)

Ingrese N (# de numeros de la lista): 6
Ingrese el número 1: 1
Ingrese el número 2: 2
Ingrese el número 3: 3
Ingrese el número 4: 4
Ingrese el número 5: 5
Ingrese el número 6: 6
La suma de los elementos impares de la lista es:  9

2) Write a function that takes a list of words as input and returns a dictionary that counts the number of times each word appears in the list. For example, if the input is ['apple', 'banana', 'apple', 'cherry', 'cherry', 'cherry'], the function should return {'apple': 2, 'banana': 1, 'cherry': 3}.

In [17]:
def fun(L):
  dic={}
  for i in L:
    cont=0
    for j in range(len(L)):
      if i==L[j]:
        cont=cont+1
    dic[i]=cont
  print(dic)

In [22]:
L=['apple', 'banana', 'apple', 'cherry', 'cherry', 'cherry']
x=fun(L)

{'apple': 2, 'banana': 1, 'cherry': 3}